<!-- ======= Mobile nav toggle button ======= -->
<button type="button" class="mobile-nav-toggle d-xl-none">
  <i class="fas fa-bars"></i>
</button>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">
    <div class="profile">
      <%= image_tag("avatar.png", class: "img-fluid rounded-circle") %>
      <h2 class="text-light"><a href="/">Nguyễn Ngọc Toàn</a></h2>
      <div class="social-links mt-3 text-center">
        <%= link_to '', '', class: "twitter fab fa-twitter" %>
        <%= link_to '', '', class: "facebook fab fa-facebook" %>
        <%= link_to '', '', class: "instagram fab fa-instagram" %>
        <%= link_to '', '', class: "linkedin fab fa-linkedin" %>
        <%= link_to '', '', class: "github fab fa-github" %>
      </div>
    </div>

    <nav class="nav-menu">
      <ul>
        <li class="active"><a href="/"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#skills"><i class="bx bx-book-content"></i> Skills</a></li>
        <li><a href="#services"><i class="bx bx-server"></i> Services</a></li>
        <li><a href="#contact"><i class="bx bx-envelope"></i> Contact</a></li>

      </ul>
    </nav><!-- .nav-menu -->
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="fas fa-bars"></i></button>

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>Nguyễn Ngọc Toàn</h1>
    <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer"></span></p>
  </div>
</section>
<!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about section-bg">
    <div class="container">
      <div class="section-title">
        <h2>About</h2>
        <p>Magnam dolores commodi suscipit.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6" data-aos="fade-right">
          <%= image_tag("avatar.png", class: "img-fluid") %>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Fresher Fontend &amp; Ruby On Rails</h3>
          <p class="font-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, s
          </p>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <ul>
                <li><i class="far fa-calendar-alt"></i> <strong>Birthday:</strong> 20 June 1995</li>
                <li><i class="fas fa-phone-alt"></i> <strong>Phone:</strong> (+84) 974 841 621</li>
                <li><i class="fas fa-map-marker-alt"></i> <strong>Location:</strong> Nghe An</li>
                <li><i class="fas fa-user-graduate"></i> <strong>Degree:</strong>Engineer</li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-6">
              <ul>
                <li><i class="fas fa-user-alt"></i> <strong>Age:</strong> 25</li>
                <li><i class="fas fa-envelope"></i> <strong>Email:</strong> ngoctoandhv95@gmail.com</li>
                <li><i class="fab fa-github"></i> <strong>Github:</strong> ngoctoandhv95</li>
                <li><i class="fas fa-user-friends"></i> <strong>Freelance:</strong> Available</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">
      <div class="section-title">
        <h2>Resume</h2>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6" data-aos="fade-up">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Nguyen Ngoc Toan</h4>
            <p><em></em></p>
            <ul>
              <li>Tien Thuy - Quynh Luu - Nghe An</li>
              <li>(+84) 974 941 621</li>
              <li>ngoctoandhv95@gmail.com</li>
            </ul>
          </div>
          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Ruby developer</h4>
            <h5>11/2019 - 7/2020</h5>
            <p><em>SUN ASTERISK - AWESOME ACADEMY</em></p>
            <p>Ruby(Basic-Advance)/Rails/WebBase/Working Skill</p>
          </div>
          <div class="resume-item">
            <h4>Frontend developer</h4>
            <h5>12/2019 - 2/2020</h5>
            <p><em>SUNTECH VIET NAM</em></p>
            <p>Html5/Css3/Boostrap4/Javascript(Jquery)</p>
          </div>
          <div class="resume-item">
            <h4>Automation and control engineering</h4>
            <h5>10/2013 - 6/2018</h5>
            <p><em>VINH UNIVERSITY</em></p>
            <p>Graduated: Good</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>ENGINEERING CALCULATING ENERGY SAVING</h4>
            <h5>5/2019 - 10/2019</h5>
            <p><em>SANSIE VIETNAM</em></p>
            <ul>
              <li>Accurate calculation of energy consumption</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>MANTAINANCE ENGINEER</h4>
            <h5>7/2018 - 4/2019</h5>
            <p><em>SAI GON BEER COMPANY - HA NOI</em></p>
            <ul>
              <li>Check and operate are machines</li>
              <li>Maintenance, machine maintenance</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Resume Section -->

  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Skills</h2>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h3 class="skill-title">Programming language: </h3>
          <div class="icon-language">
            <span class="pl-ruby">
              <i class="fas fa-gem"></i>
            </span>
            <span class="pl-javascript">
              <i class="fab fa-js-square"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h3 class="skill-title">Frameworks: </h3>
          <div class="icon-language">
            <span class="pl-ruby">
              <i class="fas fa-gem"></i>
            </span>
            <span class="fw-bootstrap">
              <i class="fab fa-bootstrap"></i>
            </span>
            <span class="fw-sass">
              <i class="fab fa-sass"></i>
            </span>
            <span class="fw-jquery">
              <%= image_tag("logo-jquery.png", class: "img-logo") %>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h3 class="skill-title">Tools: </h3>
          <div class="icon-language">
            <span class="t-git">
              <i class="fab fa-git-alt"></i>
            </span>
            <span class="t-github">
              <i class="fab fa-github"></i>
            </span>
            <span class="t-linux">
              <i class="fab fa-linux"></i>
            </span>
            <span class="t-visual">
              <%= image_tag("logo-visua.png", class: "img-logo") %>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h3 class="skill-title">Work skill: </h3>
            <ul>
              <li><h4>Teamwork skill</h4></li>
              <li><h4>Cross Functional Teams</h4></li>
              <li><h4>Agile Development & Scrum</h4></li>
            </ul>
          </div>
        </div>
      </div>
  </section><!-- End Skills Section -->

</main>
